{% extends "base.html" %}

{% block content %}
<div class="container gridshading">
    <div class="row">
        <div class="col">
           Header
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-touch-app-e52e78417435efa1d346b5969b6071b50b5dfa2d52efcbeff771b718023584d9.jpg" alt="1">
            Products you love 
        </div>
        <div class="col-md-4 col-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-shop-car-ff4b655800f3697555171e3743aa33eb4aa6ebd38b0ec04094972a9a30d1cf11.jpg" alt="2">
            Same Day Delivery
        </div>
        <div class="col-md-4 col-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-bag-0e8d6703d4ed9bd42299df8b95a2cc13bc676199a2bbfc8475aa97ec0667f588.jpg" alt="3">
            Save Time and Money 
        </div>
    </div>
    <div class="row">
            <div class="col-md-6 col-12">
               Picture
            </div>
            <div class="col-md-6 col-12">
                Deals that Delight
             </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
           Browse Products
        </div>
        <div class="col-md-6 col-12">
            Picture
         </div>
</div>
<div class="row">
    <div class="col-12">
      Logos
      <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-brands-167502894bc731eaefd346b3efad5ae164b32a0501516f59d11eeea8b6098746.jpg" alt="logos">
    </div>
</div>
<div class="row">

    <div class="col-12">
        <button type="button" class="btn btn-success">Deals that Delight</button>
     </div>
</div>
<div class="row">
    <div class="col-12">
        <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-press-logos-8b78f407db23ecdb5be04cf471fad7639636bc10ec1a4ed4941b2ed4be905720.png" alt="logos">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-12">
       Picture
    </div>
    <div class="col-md-6 col-12">
        Deals that Delight
     </div>
</div>

    {{super()}}
</div>
{% endblock %}